/* GENERAL-------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1
h2
h3
h4 {
    font-weight: 500;
}

/* UTILITIES ----------------------------------------------*/
.box {
    width: 1200px;
    margin: 0 auto;
    display: block;
}

/* FLOAT */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

/* BUTTONS */
.btn {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.btn.green-btn {
    background: #7cbb01;
    border-color: transparent;
}

.btn.big-btn {
    padding: 20px;
}

/* COLUMN WIDTH */
.w-50 {
    width: 50%;
}

/* HEADER -------------------------------------------------*/
.headerbox {
    line-height: 100px;
    background-color: #0d325a;
    text-transform: uppercase;
    font-size: 12px;
}

.headerbox li a:not(.btn):hover {
    color:green;
    transition: 0.5s;
}

/* LOGO ---------------------------------------------------*/
.headerbox .logo {
    width: 15%;
}

.headerbox .logo img {
    vertical-align: middle;
}


/* LEFT NAV -----------------------------------------------*/
.headerbox .nav-left {
     width: 45%;
}

.left-menu li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
}

.left-menu li:last-child{
    margin: 0;
}

.left-menu li a {
    text-decoration: none;
    color:white;
}


/* RIGHT NAV ----------------------------------------------*/
.headerbox .nav-right {
    width: 40%;
    text-align: right;
}

.right-menu li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.right-menu li:first-child {
    margin: 0;
}

.right-menu li a {
    text-decoration: none;
    color: white;
}

.right-menu a.btn {
    line-height: 12px;
}



/* MAIN ---------------------------------------------------*/

/* BANNER -------------------------------------------------*/

section.banner {
    height: 500px;
    background: #0d325a;
    background-image: url(./img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 120% 110%;
}

.banner .box {
    position: relative;
    height: 100%;
}

.banner .banner-content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.banner .banner-content h1 {
    font-size: 48px;
    color: white;
    text-align: left;
    margin-bottom: 40px;
}

/* MIDDLE AD ----------------------------------------------*/

.middle-ad {
    
    height: 150px;
    background: #e6e6e6;
}

.ad-box {
    text-align: center;
}

.ad-box  {
    padding-top: 40px;
}

.ad-box h2 {
    padding-bottom: 10px;
}

.ad-box h3 {
    color: #808080;
}

/* COLUMNS SECTION ----------------------------------------*/

section.info {
    margin-top: 50px;
    font-size: 16px;
    width: 1200px;
    height: 450px;
}

.col {
    width: 33%;
    text-align: center;
}

.col-pic {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.col h2 {
    color: #7cbb01;
}

.col h3 {
    font-size: 14px;
    color: #808080;
}

/* HR LINE SETTINGS */
.col hr {
    width: 80px;
    margin-top: 50px;
    margin-left: 150px;
}

#hr-mid {
    margin-top: 65px;
    margin-bottom: 45px;
}

#hr-left {
    margin-top: 40px;
    margin-bottom: 40px;
}

#hr-right {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* INFO SECTION 2 -----------------------------------------*/
.info {
    position: relative;
}

.box1 img {
    width: 450px;
    height: 400px;
}

.box2 {
    position: absolute;
    top: 10px;
    left: 700px;
}

.box2 h3 {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #808080;
}

.box2 h4 {
    font-size: 12px;
    text-decoration: underline;
    color: #5989bd;
    cursor: pointer;
}

/* FOOTER -----------------------------------------*/

footer {
    height: 150px;
    padding-top: 50px;
    background-color: #e6e6e6;
}

.left-struttura {
    width: 60%;
}

.footer-list li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    
}

.footer-list li a:not(.btn) {
    color: #808080;
}

.footer-list:first-child {
    color: #808080;
}

.help div {
    position: absolute;
    left: 85%;
    color: white;
    background: #7cbb01;
    border-color: transparent;
    display: inline-block;
    min-width: 70px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    
}
