/* GENERAL------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1
h2
h3 {
    font-weight: 500;
}

/* UTILITIES ---------------------------------------------- */
.box {
    width: 1200px;
    margin: 0 auto;
    display: block;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.btn {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

/* HEADER -------------------------------------------------*/
.headerbox {
    line-height: 100px;
    background-color: #0d325a;
    text-transform: uppercase;
    font-size: 12px;
}

.headerbox li a:not(.btn):hover {
    color:green;
    transition: 0.5s;
}

/* LOGO ---------------------------------------------------*/
.headerbox .logo {
    width: 15%;
}

.headerbox .logo img {
    vertical-align: middle;
}


/* LEFT NAV -----------------------------------------------*/
.headerbox .nav-left {
     width: 45%;
}

.left-menu li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
}

.left-menu li:last-child{
    margin: 0;
}

.left-menu li a {
    text-decoration: none;
    color:white;
}


/* RIGHT NAV ----------------------------------------------*/
.headerbox .nav-right {
    width: 40%;
    text-align: right;
}

.right-menu li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.right-menu li:first-child {
    margin: 0;
}

.right-menu li a {
    text-decoration: none;
    color: white;
}

.right-menu a.btn {
    line-height: 12px;
}

.btn.greenbtn {
    background: #7cbb01;
    border-color: transparent;
}